// _variables.scss

// Cores
$bright-blue: oklch(51.01% 0.274 263.83);
$bright-green: #31bd65;
$hot-red: oklch(61.42% 0.238 15.34);
$hot-pink: #eb4b6d;

$gray-900: oklch(19.37% 0.006 300.98);
$gray-700: oklch(36.98% 0.014 302.71);
$gray-400: oklch(70.9% 0.015 304.04);

// Fontes Individuais
$font-inter: "Inter";
$font-segoe-ui: "Segoe UI";
$font-roboto: "Roboto";
$font-helvetica: "Helvetica";
$font-arial: "Arial";
$font-sans-serif: "sans-serif";
